<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{index.html}">
<head>
<meta charset="UTF-8">
<title>Welfare Payments</title>

</head>
<body>
	<div class="page-content" layout:fragment="content">
		<th:block layout:fragment="tables"></th:block>
		<th:block layout:fragment="alerts"></th:block>




		<!-- Page-Title -->
		<div class="page-title-box">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-md-8">
						<h4 class="page-title mb-1">Shares</h4>
						<ol class="breadcrumb m-0">
							<li class="breadcrumb-item"><a href="javascript: void(0);">Payments</a></li>
							<li class="breadcrumb-item active">Data</li>
						</ol>
					</div>

				</div>

			</div>
		</div>
		<!-- end page title end breadcrumb -->

		<div class="page-content-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">

								<h4 class="header-title">Record of Payments</h4>
								<p class="card-title-desc">List of Payments and their
									details</p>

								<table
									class="datatable table table-bordered dt-responsive nowrap"
									style="border-collapse: collapse; border-spacing: 0; width: 100%;">
									<thead>
										<tr>
											<th>#</th>

											<th>Amount</th>
											<th>Date</th>
											<th>Payment Type</th>
											<th>Receipt</th>
											<th>Received by</th>
										</tr>
									</thead>


									<tbody>
										<tr th:each="a,i:${payments}">
											<td th:text="${i.index+1}">1</td>

											<td th:text="${a.amount}">Win 95+</td>
											<td th:text="${a.date}">4</td>
											<td th:text="${a.type}">4</td>
											<td th:text="${a.receipt}">4</td>
											<td th:text="${a.staffName}">Trident</td>
										</tr>

									</tbody>
								</table>

							</div>
						</div>
					</div>
					<!-- end col -->
				</div>
				<!-- end row -->

			</div>
			<!-- end container-fluid -->
		</div>
		<!-- end page-content-wrapper -->
	</div>
	<!-- End Page-content -->


</body>
</html>