<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{index.html}">
<head>
<meta charset="UTF-8">
<title>Interest Payment</title>

</head>
<body>

	<div class="page-content" layout:fragment="content">
		<th:block layout:fragment="alerts"></th:block>

		<script th:inline="javascript">
		

		function addinterest() {
			$("#loading").show();

			var form = $('#pay');
			var formdata = false;
			formdata = new FormData(form[0]);
	
				$.ajax({
					url : '/add/interest',
					data : formdata,
					type : 'post',
					 processData : false,
						contentType : false,
						cache : false,
					success : function(data) {
						if (data == 1) {
							$("#loading").hide();

							Swal.fire({
								title : "Successful",
								text : "Staff Interest paid",
								icon : "success",
								confirmButtonColor : "#3051d3"
							});
							$('#pay')[0].reset();

						}

					}

				});

			}
		
		
		
		</script>





		<!-- Page-Title -->
		<div class="page-title-box">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-md-8">
						<h4 class="page-title mb-1">Payment</h4>
						<ol class="breadcrumb m-0">
							<li class="breadcrumb-item"><a href="javascript: void(0);">Interest</a></li>
							<li class="breadcrumb-item active">Share Payment</li>
						</ol>
					</div>

				</div>

			</div>
		</div>
		<!-- end page title end breadcrumb -->

		<div class="page-content-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-11">


						<div class="card">
							<div class="card-body">

								<h4 class="header-title">Add Interest Payment</h4>
								<p class="card-title-desc">Populate the fields with data.
								</p>
																<form action="" id="pay">
								
								<div class="row">
									<div class="col-md-12">
										<div class="form-group row">
											<label class="col-md-2 col-form-label">Name</label>
											<div class="col-md-10">

												<select class="selectize" name="id" id="staff">
													<option th:each="a:${staff}" th:text="${a.name}"
														th:value="${a.staffId}">option 1</option>
												</select>
											</div>
										</div>

	<div class="form-group row">
											<label for="example-search-input"
												class="col-md-2 col-form-label">Year</label>
											<div class="col-md-10">
												<input class="form-control" type="number" placeholder="year"
													name="year" id="year">
											</div>
										</div>


										<div class="form-group row">
											<label for="example-search-input"
												class="col-md-2 col-form-label">Amount</label>
											<div class="col-md-10">
												<input class="form-control" type="text" placeholder="amount"
													name="amount" id="amount">
											</div>
										</div>

									

										


									</div>
									
								</div>
</form>
								<div class="form-group row mb-0">
									<label class="col-md-2 col-form-label"></label>
									<div class="col-md-10">
										<button class="btn btn-info" id="adds" th:onclick="addinterest()"
											>Pay Interest</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end col -->
				</div>

			</div>
			<!-- end container-fluid -->
		</div>
		<!-- end page-content-wrapper -->
	</div>
	<!-- End Page-content -->




</body>
</html>